$howManyStars: 500;
$howManyAliens: 10;
$distanceBetween: 50px;

$starShadow: ();
$meteorShadow: ();

@for $i from 1 through $howManyStars {
    $x: random(1920);
    $y: random(1000);
    $starShadow: $starShadow, ($x+px $y+px #fff) !global;
}

.star {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $starShadow;
}